node_modules/
**/node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
dist/
**/dist/
build/
**/build/
.env
.env.*
*.env
*.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.eslintcache
.vite/
.cache/
.DS_Store
Thumbs.db
.vscode/
.idea/
